<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Калкулатор</title>
</head>
<body>
<h1>Транспортен калкулатор</h1>
    <nav>
        <a th:href="@{/}">Начало</a> |
        <a th:href="@{/about}">За нас</a> |
        <a th:href="@{/services}">Услуги</a> |
        <a th:href="@{/prices}">Актуални цени</a> |
        <a th:href="@{/calculator}">Калкулатор</a> |
        <a th:href="@{/contact}">Контакти</a>
    </nav>

<form th:action="@{/calculator}" th:object="${request}" method="post">

    <label>От пристанище:
        <select th:field="*{originPort}">
            <option value="NEW YORK">NEW YORK</option>
            <option value="SAVANNAH">SAVANNAH</option>
            <option value="MIAMI">MIAMI</option>
            <option value="INDIANAPOLIS">INDIANAPOLIS</option>
            <option value="HOUSTON">HOUSTON</option>
            <option value="LOS ANGELES">LOS ANGELES</option>
            <option value="SAN FRANCISCO">SAN FRANCISCO</option>
        </select>
    </label><br>

    <label>До пристанище:
        <select th:field="*{destinationPort}">
            <option value="ROTTERDAM">ROTTERDAM</option>
            <option value="VARNA">VARNA</option>
        </select>
    </label><br>


    <label>Тип на автомобила:
        <select th:field="*{vehicleType}">
            <option value="CAR">CAR</option>
            <option value="SUV">SUV</option>
            <option value="Large SUV">Large SUV</option>
            <option value="PICKUP">PICKUP</option>
            <option value="Motorcycle">Motorcycle</option>
            <option value="Other">Other</option>
        </select>
    </label><br>
    <label><input type="checkbox" th:field="*{hybrid}"/> Хибрид</label><br>
    <label><input type="checkbox" th:field="*{electric}"/> Електрически</label><br>
    <button type="submit">Изчисли</button>
</form>

<div th:if="${result != null}">
    <p th:if="${result == -1}">Няма намерена цена за зададените параметри.</p>
    <p th:if="${result != -1}">Обща цена: <span th:text="${result}">0</span> EUR</p>
</div>
</body>
</html>